<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Ảnh lên API</title>
</head>
<body>

<input type="file" accept="image/*" id="fileInput">
<button onclick="uploadImage()">Upload Ảnh</button>

<script>
    function uploadImage() {
        const fileInput = document.getElementById('fileInput');
        const file = fileInput.files[0];

        if (file) {
            const formData = new FormData();
            formData.append('image', file);

            fetch('URL_API', {
                method: 'POST',
                body: formData
            })
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    }
                    throw new Error('Network response was not ok.');
                })
                .then(data => {
                    console.log('Upload thành công:', data);
                    // Xử lý phản hồi từ API (nếu cần)
                })
                .catch(error => {
                    console.error('Có lỗi xảy ra khi upload ảnh:', error);
                });
        } else {
            console.error('Không có tập tin nào được chọn.');
        }
    }
</script>

</body>
</html>
