<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Product</title>
    <link rel="stylesheet" type="text/css" href="/static/css/admin.css"/>
</head>

<body>
<div class="container">
    <div class="navigation">
        <ul>
            <li>
                <a href="#">
                        <span class="icon">
                            <ion-icon name="menu-outline"></ion-icon>
                        </span>
                    <span class="title">HỆ THỐNG QUẢN LÝ</span>
                </a>
            </li>

            <li>
                <a href="/home">
                        <span class="icon">
                            <ion-icon name="storefront-outline"></ion-icon>
                        </span>
                    <span class="title">Trang chủ</span>
                </a>
            </li>

            <li>
                <a href="/available_categories">
                        <span class="icon">
                            <ion-icon name="folder"></ion-icon>
                        </span>
                    <span class="title">Quản lý danh mục</span>
                </a>
            </li>
            <li>
                <a href="/product">
                        <span class="icon">
                            <ion-icon name="pizza"></ion-icon>
                        </span>
                    <span class="title">Quản lý món ăn</span>
                </a>
            </li>
            <li>
                <a href="/available_publisher">
                        <span class="icon">
                            <ion-icon name="leaf-outline"></ion-icon>
                        </span>
                    <span class="title">Quản lý nguyên liệu</span>
                </a>
            </li>
            <li>
                <a href="/available_books">
                        <span class="icon">
                            <ion-icon name="person-circle-outline"></ion-icon>
                        </span>
                    <span class="title">Quản lý nhân viên</span>
                </a>
            </li>
            <li>
                <a href="/available_users">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                    <span class="title">Quản lý người dùng</span>
                </a>
            </li>
            <li>
                <a href="/available_orders">
                        <span class="icon">
                            <ion-icon name="bag-handle-outline"></ion-icon>
                        </span>
                    <span class="title">Quản lý đơn hàng</span>
                </a>
            </li>
            <li>
                <a href="dashboard.html">
                        <span class="icon">
                            <ion-icon name="bar-chart-outline"></ion-icon>
                        </span>
                    <span class="title">Thống kê doanh thu</span>
                </a>
            </li>
            <li>
                <a href="/profile">
                    <span class="icon">
                            <ion-icon name="person-circle-outline"></ion-icon>
                    </span>
                    <span class="title">Thông tin tài khoản</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<script src="/static/js/app.js"></script>
<div class="main">
    <div class="topbar">
        <div class="toggle">
            <span class="title" style="color: white">CANTEEN ĐH TÀI NGUYÊN MÔI TRƯỜNG</span>
        </div>
        <div class="logout">
            <a href="#" onclick="confirmLogout()">
        <span class="icon">
             <ion-icon name="log-out-outline"></ion-icon>
        </span>
                <span class="title" style="font-size: 1.1em; color: white">Đăng xuất</span>
            </a>
        </div>

        <script>
            function confirmLogout() {
                if (confirm("Bạn có chắc chắn muốn đăng xuất?")) {
                    window.location.href = "/logout";
                }
            }
        </script>

    </div>
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading" style="text-align: center; color: #0f6674">Danh sách Món ăn</h1>
        </div>
    </section>
    <div class="col-md-3">
        <div class="text-right">
            <a href="/product/add" class="btn btn-primary" style="margin-right: 20px">Thêm Món Ăn</a>
        </div>
    </div>

    <div th:if="${showForm}" style="align-self: start; margin-left: 8%; padding: 5px;">
        <label for="">Tên món ăn</label>
    </div>
    <div th:if="${showForm}" style="width: 80%;">
        <input class="nameFood" placeholder="Nhập tên món ăn" style="width:100%;padding: 5px;" type="text">
    </div>

    <div th:if="${showForm}" style="align-self: start;margin-left: 8%;padding: 5px;">
        <label for="">Nhập mô tả</label>
    </div>
    <div th:if="${showForm}" style="width: 80%;">
        <input class="descripts" placeholder="Nhập mô tả" style="width:100%;padding: 5px;" type="text">
    </div>
    <div th:if="${showForm}" style="align-self: start;margin-left: 8%;padding: 5px;">
        <label for="">Nhập Category</label>
    </div>
    <div th:if="${showForm}" style="width: 80%;">
        <input class="categoryFood" placeholder="Nhập Category" style="width:100%;padding: 5px;" type="text">
    </div>

    <div th:if="${showForm}" style="width: 80%;display: flex;justify-content: center;margin-top: 100px; cursor: pointer;">
        <button onclick="handlehide()"
                style="cursor: pointer;border-radius: 5px;margin:0 12px;border: none; padding: 10px 40px;background-color: #00933b47;">
            Hủy
        </button>
        <button onclick="addFood()"
                style="cursor: pointer;border-radius: 5px; margin:0 12px;border: none; padding: 10px 40px;background-color: #00933ba3;">
            Thêm
        </button>
    </div>

    <div class="py-5 bg-light" style="margin-left: 50px; margin-right: 100px; margin-top: 30px">
        <div class="container">
            <div class="row">
                <div th:each="product : ${products}" class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <a th:href="@{/product/detail/{id}(id=${product.id})}">
                            <img th:src="@{/static/images/product/{imageFileName}(imageFileName=${product.image})}"
                                 class="bd-placeholder-img card-img-top" width="100%" height="200" alt="Product Image">
                        </a>
                        <div class="card-body">
                            <a th:href="@{/product/detail/{id}(id=${product.id})}">
                                <h5 th:text="${product.name}">Product Name</h5>
                            </a>
                            <p th:text="${product.description}">Product Description</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a th:href="@{/product/detail/{id}(id=${product.id})}"
                                       class="btn btn-sm btn-outline-secondary">Xem chi tiết</a>
                                </div>
                                <br>
                                <small class="text-right">
                                    <b th:text="'&#x20AB;' + ${product.price}">Sale Price</b>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--    <div class="py-5 bg-light" style="margin-left: 50px; margin-right: 100px">-->
    <!--        <div class="container">-->
    <!--            <div class="row">-->
    <!--                <div class="col-md-4">-->
    <!--                    <div class="card mb-4 shadow-sm">-->
    <!--                        <a href="product-detail.html">-->
    <!--                            <img class="bd-placeholder-img card-img-top" width="100%" height="200"-->
    <!--                                 src="/static/images/product/samsung-s3.webp">-->
    <!--                        </a>-->
    <!--                        <div class="card-body">-->
    <!--                            <a href="product-detail.html">-->
    <!--                                <h5>Samsung Galaxy S3</h5>-->
    <!--                            </a>-->
    <!--                            <h6>Điện thoại</h6>-->
    <!--                            <p class="card-text">Sản phẩm của Samsung năm 2013</p>-->
    <!--                            <div class="d-flex justify-content-between align-items-center">-->
    <!--                                <div class="btn-group">-->
    <!--                                    <a class="btn btn-sm btn-outline-secondary" href="product-detail.html">Xem-->
    <!--                                        chi tiết</a>-->
    <!--                                </div>-->
    <!--                                <small class="text-muted text-right">-->
    <!--                                    <s>12,600,000.00</s>-->
    <!--                                    <b>12,000,000.00 vnđ</b>-->
    <!--                                </small>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->

    <!--                <div class="col-md-4">-->
    <!--                    <div class="card mb-4 shadow-sm">-->
    <!--                        <a href="product-detail.html">-->
    <!--                            <img class="bd-placeholder-img card-img-top" width="100%" height="200"-->
    <!--                                 src="/static/images/product/samsung-s3.webp">-->
    <!--                        </a>-->
    <!--                        <div class="card-body">-->
    <!--                            <a href="product-detail.html">-->
    <!--                                <h5>Samsung Galaxy S3</h5>-->
    <!--                            </a>-->
    <!--                            <h6>Điện thoại</h6>-->
    <!--                            <p class="card-text">Sản phẩm của Samsung năm 2013</p>-->
    <!--                            <div class="d-flex justify-content-between align-items-center">-->
    <!--                                <div class="btn-group">-->
    <!--                                    <a class="btn btn-sm btn-outline-secondary" href="product-detail.html">Xem-->
    <!--                                        chi tiết</a>-->
    <!--                                </div>-->
    <!--                                <small class="text-muted text-right">-->
    <!--                                    <s>12,600,000.00</s>-->
    <!--                                    <b>12,000,000.00 vnđ</b>-->
    <!--                                </small>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->

    <!--                <div class="col-md-4">-->
    <!--                    <div class="card mb-4 shadow-sm">-->
    <!--                        <a href="product-detail.html">-->
    <!--                            <img class="bd-placeholder-img card-img-top" width="100%" height="200"-->
    <!--                                 src="/static/images/product/samsung-s3.webp">-->
    <!--                        </a>-->
    <!--                        <div class="card-body">-->
    <!--                            <a href="product-detail.html">-->
    <!--                                <h5>Samsung Galaxy S3</h5>-->
    <!--                            </a>-->
    <!--                            <h6>Điện thoại</h6>-->
    <!--                            <p class="card-text">Sản phẩm của Samsung năm 2013</p>-->
    <!--                            <div class="d-flex justify-content-between align-items-center">-->
    <!--                                <div class="btn-group">-->
    <!--                                    <a class="btn btn-sm btn-outline-secondary" href="product-detail.html">Xem-->
    <!--                                        chi tiết</a>-->
    <!--                                </div>-->
    <!--                                <small class="text-muted text-right">-->
    <!--                                    <s>12,600,000.00</s>-->
    <!--                                    <b>12,000,000.00 vnđ</b>-->
    <!--                                </small>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->

    <!--            <div class="row">-->
    <!--                <div class="col-md-4">-->
    <!--                    <div class="card mb-4 shadow-sm">-->
    <!--                        <a href="product-detail.html">-->
    <!--                            <img class="bd-placeholder-img card-img-top" width="100%" height="200"-->
    <!--                                 src="/static/images/product/samsung-s3.webp">-->
    <!--                        </a>-->
    <!--                        <div class="card-body">-->
    <!--                            <a href="product-detail.html">-->
    <!--                                <h5>Samsung Galaxy S3</h5>-->
    <!--                            </a>-->
    <!--                            <h6>Điện thoại</h6>-->
    <!--                            <p class="card-text">Sản phẩm của Samsung năm 2013</p>-->
    <!--                            <div class="d-flex justify-content-between align-items-center">-->
    <!--                                <div class="btn-group">-->
    <!--                                    <a class="btn btn-sm btn-outline-secondary" href="product-detail.html">Xem-->
    <!--                                        chi tiết</a>-->
    <!--                                </div>-->
    <!--                                <small class="text-muted text-right">-->
    <!--                                    <s>12,600,000.00</s>-->
    <!--                                    <b>12,000,000.00 vnđ</b>-->
    <!--                                </small>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->

    <!--                <div class="col-md-4">-->
    <!--                    <div class="card mb-4 shadow-sm">-->
    <!--                        <a href="product-detail.html">-->
    <!--                            <img class="bd-placeholder-img card-img-top" width="100%" height="200"-->
    <!--                                 src="/static/images/product/samsung-s3.webp">-->
    <!--                        </a>-->
    <!--                        <div class="card-body">-->
    <!--                            <a href="product-detail.html">-->
    <!--                                <h5>Samsung Galaxy S3</h5>-->
    <!--                            </a>-->
    <!--                            <h6>Điện thoại</h6>-->
    <!--                            <p class="card-text">Sản phẩm của Samsung năm 2013</p>-->
    <!--                            <div class="d-flex justify-content-between align-items-center">-->
    <!--                                <div class="btn-group">-->
    <!--                                    <a class="btn btn-sm btn-outline-secondary" href="product-detail.html">Xem-->
    <!--                                        chi tiết</a>-->
    <!--                                </div>-->
    <!--                                <small class="text-muted text-right">-->
    <!--                                    <s>12,600,000.00</s>-->
    <!--                                    <b>12,000,000.00 vnđ</b>-->
    <!--                                </small>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->

    <!--                <div class="col-md-4">-->
    <!--                    <div class="card mb-4 shadow-sm">-->
    <!--                        <a href="product-detail.html">-->
    <!--                            <img class="bd-placeholder-img card-img-top" width="100%" height="200"-->
    <!--                                 src="/static/images/product/samsung-s3.webp">-->
    <!--                        </a>-->
    <!--                        <div class="card-body">-->
    <!--                            <a href="product-detail.html">-->
    <!--                                <h5>Samsung Galaxy S3</h5>-->
    <!--                            </a>-->
    <!--                            <h6>Điện thoại</h6>-->
    <!--                            <p class="card-text">Sản phẩm của Samsung năm 2013</p>-->
    <!--                            <div class="d-flex justify-content-between align-items-center">-->
    <!--                                <div class="btn-group">-->
    <!--                                    <a class="btn btn-sm btn-outline-secondary" href="product-detail.html">Xem-->
    <!--                                        chi tiết</a>-->
    <!--                                </div>-->
    <!--                                <small class="text-muted text-right">-->
    <!--                                    <s>12,600,000.00</s>-->
    <!--                                    <b>12,000,000.00 vnđ</b>-->
    <!--                                </small>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->

    <!--            <div class="row">-->
    <!--                <div class="col-md-4">-->
    <!--                    <div class="card mb-4 shadow-sm">-->
    <!--                        <a href="product-detail.html">-->
    <!--                            <img class="bd-placeholder-img card-img-top" width="100%" height="200"-->
    <!--                                 src="/static/images/product/samsung-s3.webp">-->
    <!--                        </a>-->
    <!--                        <div class="card-body">-->
    <!--                            <a href="product-detail.html">-->
    <!--                                <h5>Samsung Galaxy S3</h5>-->
    <!--                            </a>-->
    <!--                            <h6>Điện thoại</h6>-->
    <!--                            <p class="card-text">Sản phẩm của Samsung năm 2013</p>-->
    <!--                            <div class="d-flex justify-content-between align-items-center">-->
    <!--                                <div class="btn-group">-->
    <!--                                    <a class="btn btn-sm btn-outline-secondary" href="product-detail.html">Xem-->
    <!--                                        chi tiết</a>-->
    <!--                                </div>-->
    <!--                                <small class="text-muted text-right">-->
    <!--                                    <s>12,600,000.00</s>-->
    <!--                                    <b>12,000,000.00 vnđ</b>-->
    <!--                                </small>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->

    <!--                <div class="col-md-4">-->
    <!--                    <div class="card mb-4 shadow-sm">-->
    <!--                        <a href="product-detail.html">-->
    <!--                            <img class="bd-placeholder-img card-img-top" width="100%" height="200"-->
    <!--                                 src="/static/images/product/samsung-s3.webp">-->
    <!--                        </a>-->
    <!--                        <div class="card-body">-->
    <!--                            <a href="product-detail.html">-->
    <!--                                <h5>Samsung Galaxy S3</h5>-->
    <!--                            </a>-->
    <!--                            <h6>Điện thoại</h6>-->
    <!--                            <p class="card-text">Sản phẩm của Samsung năm 2013</p>-->
    <!--                            <div class="d-flex justify-content-between align-items-center">-->
    <!--                                <div class="btn-group">-->
    <!--                                    <a class="btn btn-sm btn-outline-secondary" href="product-detail.html">Xem-->
    <!--                                        chi tiết</a>-->
    <!--                                </div>-->
    <!--                                <small class="text-muted text-right">-->
    <!--                                    <s>12,600,000.00</s>-->
    <!--                                    <b>12,000,000.00 vnđ</b>-->
    <!--                                </small>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->

    <!--                <div class="col-md-4">-->
    <!--                    <div class="card mb-4 shadow-sm">-->
    <!--                        <a href="product-detail.html">-->
    <!--                            <img class="bd-placeholder-img card-img-top" width="100%" height="200"-->
    <!--                                 src="/static/images/product/samsung-s3.webp">-->
    <!--                        </a>-->
    <!--                        <div class="card-body">-->
    <!--                            <a href="product-detail.html">-->
    <!--                                <h5>Samsung Galaxy S3</h5>-->
    <!--                            </a>-->
    <!--                            <h6>Điện thoại</h6>-->
    <!--                            <p class="card-text">Sản phẩm của Samsung năm 2013</p>-->
    <!--                            <div class="d-flex justify-content-between align-items-center">-->
    <!--                                <div class="btn-group">-->
    <!--                                    <a class="btn btn-sm btn-outline-secondary" href="product-detail.html">Xem-->
    <!--                                        chi tiết</a>-->
    <!--                                </div>-->
    <!--                                <small class="text-muted text-right">-->
    <!--                                    <s>12,600,000.00</s>-->
    <!--                                    <b>12,000,000.00 vnđ</b>-->
    <!--                                </small>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->

</div>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>